.title{
    text-align: center;
    border:solid 1px black;
    max-width:100vw;
background-color: #333;
      color: white;
      
  }
  .imgstyle{
    height: 120px;
    width: 250px;
  }
  .imgstyle2{
    height: 150px;
    width: 250px;
    margin-top: -60px;
  }
.video{
   align-content: center;
}  
